<div class="jumbotron text-center">
  <p class="welcome">Welcome<!--Name of person who logged in--></p>

<div class="newOffer object">Ask For A Favor</div>
<form class="create">
  <input type="text" placeholder="Favor">
  <input type="text" placeholder="Location">
  <input type="text" placeholder = "Name">
  <input type="text" placeholder = "Phone Number">
  <input type="text" placeholder = "Email">
</form>

  <div class="object">
    <p class="avatar">{}{avatar}}</p>
    <p class="favor">{{favor}}</p>
    <p class="time">{{timestamp}}</p>
    <p class="location">{{location}}</p>
  </div>
  <form class="more">
    <p class="description">{{description}}</p>
    <p class="name">{{name}}</p>
    <p class="phone">{{phone}}</p>
    <p class="email">{{email}}</p>
  </form>


</div>
