<script src="js/smoothscroll.js"></script>

<div class="jumbotron text-center">
	<div class="top">favorfive.me</div>
	<div class="motto">Receive a Favor. Do a Favor. For 5 bucks.</div>
	<a class="btn btn-primary learn" href="#about">Learn More</a>
</div>

<div id="about">
	<div class="about">About Us</div>

		<div class="wrapper">
				<div class="one">
					<p class="abt">Receive a Favor</p>
					<div class="text">
						Enlist the help of someone that is nearby, has time to kill, and is willing to receive a reward for doing you a favor.
					</div>
				</div>
				<div class="two">
					<div class="abt">Do a Favor</div>
					<div class="text">
						Change the way people interact with each other in getting simple tasks done, one college campus at a time.

					</div>
				</div>
				<div class="three">
					<div class="abt">For 5 Bucks</div>
					<div class="text">
						Receive $5 for doing a Favor or give someone $5 to do you a Favor.
					</div>
				</div>

		</div>

		<div class="foot">
			<div class="cm">Contact us: info@favorfive.me</div>
		</div>

</div>
