<div class="jumbotron text-center">
	<form ng-controller="LoginController" novalidate class="simple-form">
	<div class="signup">Log In</div>
	<div class="form-group">
		<input class="form-control" placeholder="Username" ng-model="user.username" />
	</div>
	<div class="form-group">
		<input type="password" class="form-control" placeholder="Password" ng-model="user.pass" />
	</div>
	<button ng-click="login(user)" class="btn btn-primary">Log In</button>

	<p class="fail">Don't have an account? <a href="/signup"> Sign up</a></p>
	</form>
</div>
