<div class="jumbotron text-center">
	<form ng-controller="LoginController" novalidate class="simple-form">
	<div class="signup">Signup</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Username" ng-model="guy.username" /><br />
	</div>
	<div class="form-group">
		<input type="email" class="form-control" placeholder="Email" ng-model="guy.email" /><br />
	</div>
	<div class="form-group">
		<input type="password" class="form-control" placeholder="Password" ng-model="guy.pass" /><br />
	</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Phone Number" ng-model="guy.phone" /><br />
	</div>
	<button ng-click="makeusr(guy)" class="btn btn-primary">Sign Up</button>

	<p class="fail">Already have an account?<a href="/signup" class="signin"> Sign in</a></p>
	</form>
</div>
