<div class="jumbotron text-center">
	<form ng-controller="LoginController" novalidate class="simple-form">
	<div class="signup">Signup</div>
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control" ng-model="guy.name" /><br />
	</div>
	<div class="form-group">
		<label>E-mail</label>
		<input type="email" class="form-control" ng-model="guy.email" /><br />
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type="password" class="form-control" ng-model="guy.pass" /><br />
	</div>
	<button ng-click="makeusr(guy)" class="btn btn-primary">SUBMIT</button>

	<p class="fail">Already have an account?<a href="/signup" class="signin"> Sign in</a></p>
	</form>
</div>
