@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700,300);
body {
  width: 100%;
}
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}
.container {
  padding: 0 0;
  margin: 0 0;
  width: 100%;
}
.jumbotron {
  color: #1D2E4C;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 3em;
  min-height: 20em;
}
.form-group {
  margin-top: -1em;
  height: 4em;
}
.navbar {
  margin: 0 0;
  border-radius: 0;
}
.navbar-inverse {
  height: 4em;
  background: #1D2E4C;
  border: none;
}
.navbar-brand {
  font-size: 1.7em;
}
.navbar-header {
  float:left;
  margin-left: 15%;
}
.navbar-nav {
  float: right;
  margin-right: 15%;
  font-size: 1.3em;
}
.navbar-inverse .navbar-brand {
color: white;
}
.navbar-inverse .navbar-nav>li>a {
color: white;
}
.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-brand:focus {
    color: white;
    background-color:transparent
}
.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus {
    color: white;
    background-color:transparent
}
.description {
  margin-top: 2em;
}
.learn {
  margin-top: 0em;
  width: 8em;
  text-align: center;
  margin: 0 auto;
  border: 3px solid #1D2E4C;
  border-radius: 4px;
  font-size: 0.7em;
  transition: 0.4s ease all;
}
.learn:hover {
  border: 3px solid #1D2E4C;
  background: #1D2E4C;
  color: white;
  cursor: pointer;
}
.signup {
  font-size: 1.3em;
  margin-bottom: 1em;
}
.form-control {
  width: 55%;
  margin: 0 auto;
  height: 4em;
}
label {
  font-size: 0.6em;
  font-family: 'Open Sans';
  font-weight: 400;
}
.btn-primary {
  color: #1D2E4C;
  width: 5em;
  font-size: 0.7em;
  border: 3px solid #1D2E4C;
  background: transparent;
  transition: 0.4s ease all;
  margin-top: -1em;
}
.btn-primary:hover {
cursor: pointer;
border: 3px solid white;
background: #1D2E4C;
color: white;
}
a {
  color: #452B72;
  text-decoration: none;
  transition: 0.4s ease all;
}
a:hover {
  color: #452B72;
}
.fail {
  font-size: 0.8em;
  padding-top: 1.5em;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;s
}
.left {
  width: 20%;
  order: 1;
  border: 2px solid red;
}
.right {
  width: 80%;
  order: 2;
  border: 2px solid red;
}
.create {
  margin: 0 auto;
  border: 2px solid red;
  width: 70%;
  background: #DAD8D8;
  margin-top: 0.5em;
  text-align: center;
}
textarea {
  height: 1.7em;
  margin-bottom: -0.3em;
  margin-top: 0.5em;
}
.add {
  margin-top: 0.5em;
  font-size: 0.6em;
  margin-left: 80%;
}
.add:hover {
  border: 3px solid #DAD8D8;
}
.contactinfo {
}
.avatar {
  display: block;
  margin: 0 auto;
  border-radius: 100%;
}
#leftcard {
  margin-right: 100%;
  margin-top: 0.5em;
  margin-left: 0.5em;
  height: 1.7em;
  width: 1.7em;
  border-radius: 100%;
}
input[placeholder="Favor"] {
  margin: 0 auto;
  height: 2em;
  font-size: 0.5em;
  text-align: center;
}
.jumbotron p{
  font-size: 0.7em;
  text-align: center;
  margin-top: -1.5em;
}
